.countryDetail{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    gap: 2em;
    justify-content: center;
    padding: 2em;
    flex-wrap: wrap;
    height: 89vh;
    padding-top: 0;
    /* color: aliceblue; */
    /* background-color: black; */
    /* border: 2px solid red; */
}

.CountryInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;


    
}

img{
    height: 15;
    width: 25em;
    border-radius: 2em;
    box-shadow: 0 0 10px white;
}
body{
    /* background-color: black; */
}

.border{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.border-btn{
    color: black;
    height: 2em;
    width: 4em;
    border-radius: 0.5em;

}
.back-btn button{ 
    /* border: 2px solid black; */
    color: black;
    height: 2em;
    width: 6em;
    border-radius: 0.5em;
}

.CountryInfoText{
    display: flex;
    flex-direction: column;
    gap: 1em;
}