.countryDetail{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    gap: 2em;
    justify-content: center;
    padding: 2em;
    flex-wrap: wrap;
    height: 89vh;
    /* color: aliceblue; */
    /* background-color: black; */
}

.CountryInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;


    
}

img{
    height: 15;
    width: 25em;
    border-radius: 2em;
    box-shadow: 0 0 10px white;
}
body{
    /* background-color: black; */
}