* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.darkMode{
  color: white ;
  background-color: #1e283c;
  
}

.countryImg img {
  height: 10em;
  width: 100%;
  border-radius: 1em 1em 0 0;
  /* border: 5px solid red; */

}

.countryCard {
  width: 20em;
  height: 22em;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 255, 255);   */
  border: 2px solid black;
  /* background-color: lightgray; */
  border-radius: 1em;
  box-shadow: 0 0 10px white;
}


.innerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
  padding-top: 1em;
}

h4 {
  color: black;
}

*{
  text-decoration: none;
  color: inherit;
}

.countryDetails {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
  font-style: bold;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 1em; 
  box-shadow: 0 0 10px white;
   /* background-color: antiquewhite; */
}

.search {
  display: flex;
  width: 100%;
  height: 2em;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(174, 209, 209); */
}



.main-container {
  display: flex;
  flex-direction: column;
  padding: 2em 4rem 2rem 4rem;
  gap: 3em;
}

.searchBarWidth {
  width: 15em;
  height: 2em;
}

.dropdownOption {
  height: 1em;
}

h2{
  color: red;
}

#Loading{
  color: green;
}
/*  */

.btn{
  height: 2em;
    width: 6em;
    border-radius: 0.5em;
    color: black;

}