*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.countryImg img{
  height: 10em;
  width: 100%;
  /* border: 5px solid red; */

}

.countryCard{
  width: 18em;
  height: 20em;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}


.innerContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between; 
  padding: 2em 4rem 2rem 4rem;   
}

h4{
  color: black;
}


.countryDetails{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;

}


.header{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: antiquewhite;
}

.search{
  display: flex;
  justify-content: space-around;
   margin: 1em;
}



.main-container{
  display: flex;
  flex-direction: column; 
}